[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
websockets = "*"

[requires]
python_version = "3.7"

[scripts]
example = "python example.py"
"example.py" = "python example.py"
async = "python ping_async.py"
